.cta {
  color: #D6A461;
}

.js-modal-close {
  background-color: #fff9f5;
  padding-inline: 2rem;
  padding-block: 1rem;
  border: 2px solid #D6A461;
  color: #462425;
  cursor: pointer;


}